.black-font {
  color: black;
}

.send {
  color: skyblue;
  height: 2em;
  border: solid 1px black;
}

.send-container-background {
  background: black;
}

.chat-content {
  //height: 100%;
  height: calc(100vh - 4em - 4.5em); //toolbar height + // send input and margins
}
