<div class="extra-padding-top stretch scrollable">
  <div class="chat-content black-font border-thin stretch scrollable">
    <app-message-list [clear]="eventSubject.asObservable()"
                      [messages]="viewingPrivateConversation ? privateMessages : messages"></app-message-list>
  </div>
</div>
<div>
  <div class="horizontal">
    <input id="message" type="text" placeholder="Type message here..." class="stretch" (keyup.enter)="sendMessage()"
           [(ngModel)]="messageText">
    <button type="submit" class="button-container send-container-background" (click)="sendMessage()">
      <i class="send icon fa fa-arrow-right"></i>
    </button>
  </div>
  <div class="separator-medium spacer"></div>
</div>
