<div class="extra-padding-top stretch">
  <div class="chat-content black-font border-thin stretch scrollable">
    <app-message-list [messages]="messages"></app-message-list>
  </div>
</div>
<div>
  <div class="separator-big spacer"></div>
  <div class="horizontal send-container">
    <input id="message" type="text" placeholder="Type message here..." class="stretch" [(ngModel)]="messageText">
    <button type="submit" class="button-container send-container-background" (click)="sendMessage()">
      <i class="send icon fa fa-arrow-right"></i>
    </button>
  </div>
</div>
