<div class="border-thin vertical">
  <div class="vertical-item horizontal extra-padding-top">
    <button class="button-container" *ngIf="channelsExpanded" (click)="expandChannels()">
      <i class="icon fa fa-caret-square-down"></i>
    </button>
    <button class="button-container" *ngIf="!channelsExpanded" (click)="expandChannels()">
      <i class="icon fa fa-caret-square-up"></i>
    </button>
    <span>Channels</span>
    <div class="spacer"></div>
    <button class="button-container" id="add" type="button" (click)="toggleAddChannelVisible()">
      <i class="icon fa fa-plus-circle"></i>
    </button>
    <button class="button-container" (click)="showSearch()">
      <i class="icon fa fa-search-plus"></i>
    </button>

  </div>
  <div class="vertical-item horizontal" *ngIf="channelSearchExpanded">
    <div class="horizontal stretch">
      <input type="search" class="stretch" [(ngModel)]="channelFilterText" (input)="filterChannels()"/>
      <span>
      <button class="button-container" id="search" type="button" (click)="searchChannels()">
        <i class="icon fa fa-search"></i>
      </button>
      </span>
    </div>
  </div>
  <span class="extra-padding-top"></span>
  <div class="channel" *ngFor="let channel of channelsDisplayed" [hidden]="channelsExpanded">
    <div class="vertical-item horizontal extra-padding-left"
         [ngClass]="channel.channelID === !this.viewingPrivateChannel && this.selectedChannelID ? 'selected' : '' ">
      <i class="icon fa fa-copyright extra-margin-right"></i>
      <a class="link" (click)="joinChannel(channel.channelID)">{{channel.name}}</a>
    </div>
    <div class="separator-medium"></div>
  </div>
</div>
<div class="separator-big"></div>
<div class="border-thin vertical">
  <div class="vertical-item horizontal  extra-padding-top">
    <button class="button-container" *ngIf="usersExpanded" (click)="expandUsers()">
      <i class="icon fa fa-caret-square-down"></i>
    </button>
    <button class="button-container" *ngIf="!usersExpanded" (click)="expandUsers()">
      <i class="icon fa fa-caret-square-up"></i>
    </button>
    <span>Users</span>
    <div class="spacer"></div>
    <button class="button-container" (click)="showUsersSearch()">
      <i class="icon fa fa-search-plus"></i>
    </button>
  </div>
  <div class="vertical-item horizontal" *ngIf="userSearchExpanded">
    <div class="horizontal stretch">
      <input type="search" class="stretch"  [(ngModel)]="userFilterText" (input)="filterUsers()"/>
      <span>
      <button class="button-container" id="searchUser" type="button" (click)="searchUsers()">
        <i class="icon fa fa-search"></i>
      </button>
      </span>
    </div>
  </div>
  <app-add-channel-dialog *ngIf="addChannelVisible" (close)="onDialogClose()"></app-add-channel-dialog>
  <span class="extra-padding-top"></span>
  <div class="channel" *ngFor="let user of usersDisplayed" [hidden]="usersExpanded">
    <div class="vertical-item horizontal extra-padding-left"
      [ngClass]="user.nickname === this.viewingPrivateChannel && this.selectedNickname ? 'selected' : ''" >
      <i class="icon fa fa-user extra-margin-right"></i>
      <a class="link" (click)="joinPrivateChannel(user.nickname)">{{user.name}}</a>
    </div>
    <div class="separator-medium"></div>
<!--    <button  type="button"  (click)="changeToUser(user)">{{'zostań mną:  ' + user.nickname}} </button>-->
  </div>
</div>
