<div class="app-container">
  <app-header-panel></app-header-panel>
  <div class="body-container">
    <div class="vertical left-panel background scrollable">
      <app-left-panel (channelSwitched)="switchChannel($event)" (privateChannelSwitched)="switchPrivateChannel($event)"></app-left-panel>
    </div>
    <div class="vertical stretch center-panel">
      <app-main-panel [clear]="channelSwitched.asObservable()" [tokenString]="this.token"  [token]="privateChannelSwitched.asObservable()" class="vertical stretch">
        <router-outlet></router-outlet>
      </app-main-panel>
    </div>
    <div class="vertical right-panel background scrollable">
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </div>
    </div>

  </div>
</div>
