<form [formGroup]="formGroup" (ngSubmit)="register()">
  <div class="extra-margin-left content-centered">
    <div class="form-field horizontal">
      <label id="registerLoginLabel" for="registerLogin">Login:</label>
      <input id="registerLogin" formControlName="login" type="text" class="form-control stretch" [required]="true"/>
    </div>
    <div class="form-field horizontal">
      <label id="registerPasswordLabel" for="registerPassword">Password:</label>
      <input id="registerPassword" formControlName="password" type="password" class="form-control stretch"
             [required]="true"/>
    </div>
    <div class="form-field horizontal">
      <label id="registerNameLabel" for="registerName">Name:</label>
      <input id="registerName" formControlName="name" type="text" class="form-control stretch" [required]="true"/>
    </div>
    <div class="form-field horizontal">
      <label id="registerNicknameLabel" for="registerNickname">Nickname:</label>
      <input id="registerNickname" formControlName="nickname" type="text" class="form-control stretch"
             [required]="true"/>
    </div>
    <div class="form-field horizontal">
      <label id="registerSurnameLabel" for="registerSurname">Surname:</label>
      <input id="registerSurname" formControlName="surname" type="text" class="form-control stretch" [required]="true"/>
    </div>
    <div class="form-field horizontal">
      <label id="registerEmailLabel" for="registerEmail">Email:</label>
      <input id="registerEmail" formControlName="email" type="text" class="form-control stretch" [required]="true"/>
    </div>
    <input type="submit" class="form-button button-container" value="Sign up" [disabled]="!isRegisterFormValid()"
    />
    <div *ngIf="registerSuccess != null" class="vertical stretch content-centered ">
      <div *ngIf="registerSuccess" class="horizontal stretch center border-thin">
        <h2>Account registered successfully! <i class="fa fa-check"></i></h2>
      </div>
      <div *ngIf="!registerSuccess" class="horizontal center">
        <h2>Account registration failed! <i class="fa fa-times"></i></h2>
      </div>
    </div>
  </div>
</form>
