.right-margin {
  margin-right: 1em;
}

.left-padding {
  padding-left: 0.5em;
}

.background {
  background-color: #54d268;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.link {
  cursor: pointer;
}

.channel {
  //text-align: center;
  padding: 0 2px 0 2px;
  //box-shadow: 1px 1px gold;
}

.border-thin {
  border: 2px solid rgba(0, 0, 0, .5);
}

.extra-padding-left {
  padding-left: 10px;
}

.stretch {
  flex: 1;
}

.extra-margin-right {
  margin-right: 10px;
}

.spacer {
  flex: 1;
}

.icon {
  font-weight: 500;
  display: block;
  font-size: 20px;
  background-color: transparent;
}

.toolbar-icon {
  cursor: pointer;
}

.toolbar-icon:hover {
  background-color: skyblue;
}

.icon.toolbar-icon {
  font-size: 30px;
}


.button-container {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.separator-big {
  height: 1em;
}

.extra-padding-top {
  padding-top: 5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

.separator-small {
  height: 0.1em;
}

.separator-medium {
  height: 0.5em;
}

.vertical-item {
  padding-top: 2px;
}

.scrollable {
  margin: 0;
  overflow: auto;
}

.left-panel, .right-panel {
  padding-top: 1em;
  min-width: 15%;
  width: 15%;
  max-width: 15%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.app-container {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

.body-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center-panel {
  height: 92.6vh; //fixme
  min-height: 92.6vh; //fixme
  max-height: 92.6vh; //fixme
  padding: 0.25em;
  margin: 0.25em;
  flex: 1;
}


.extra-margin-left {
  margin-left: 5px;
}

.message {
  margin: 1px 5px;
}

.selected {
  background-color: #73e5eb;
}

.modal-dialog {
  display: block;
  position: fixed;
  left: 25%;
  right: 25%;
  top: 30vh;
  bottom: 30vh;
  z-index: 9;
  min-width: 20vw;
  max-width: 50vw;
  width: 50%;
  border: 0.4em solid black;
  overflow: auto;
}

.content-centered {
  text-align: center;
}

.cursor-disable {
  cursor: auto;
}

.indented {
  margin: 5px;
}

input[type=checkbox] {
  transform: scale(1.25);
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.form {
  display: inline-flex;
}

.title {
  border-bottom: 0.1em solid black;
}

.no-margin {
  margin: 0;
}

.form-field {
  text-align: left;
  align-items: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 0.25em;
}

.checkbox-field {
  padding-left: 0.25em;
}

.form textarea {
  min-height: 5em;
  max-height: 15em;
}

.form-button {
  margin: 2px 4px 4px 2px;
  min-width: 2em;
  width: 5em;
  min-height: 1em;
  height: 2em;
  background-color: #333333;
  color: skyblue;
  font-size: 1.25em;
  border: 1px solid #333333;
}

.form-button:hover {
  cursor: pointer;
}

.form-button:disabled {
  color: #333333;
  background-color: lightgray;
}

.toolbar {
  height: 4em;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #54d268;
  color: white;
  font-weight: 600;
}

.notification-counter {
  position: absolute;
  top: 0.5px;
  right: 41px;
  padding: 2px 5px;
  border-radius: 25%;
  background: red;
  color: white;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 99;
  background-color: black;
  color: white;
}

.menu-item {
  color: white;
  cursor: pointer;
}

.menu-item:hover {
  background-color: skyblue;
}

.accept {
  color: green;
}

.decline {
  color: red;
}

.no-scroll {
  overflow: hidden;
}

.login-centered {
  width: 25%;
  margin: 1% 37.5%;
}

.login-panel {
  background-color: #54d268;
}

.form-control {
  display: flex
}

.form-centered {
  width: 25%;
  margin: 0 auto 0;
}
