<div class="app-container">
  <div class="login-panel form-centered">
    <div class="horizontal" *ngFor="let user of users">
      <div class="vertical-item horizontal extra-padding-left">
        <i class="icon fa fa-user extra-margin-right"></i>
        <div class="link" (click)="setUser(user)">
          <div class="horizontal">
            <div>{{user.name}}</div>
            <div *ngIf="user && selectedUser && user.name === selectedUser.name">
              <i class="icon fa fa-check extra-margin-left"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="separator-medium"></div>
    </div>
    <div class="button-container content-centered">
      <a class="form-button" routerLink="/">Zaloguj jako wybrany użytkownik</a>
    </div>
    <app-login-form></app-login-form>
    <app-register-form></app-register-form>
  </div>

</div>
